# Copyright (c) 2016 Kazumasa Kohtaka. All rights reserved.
# This file is available under the MIT license.

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mongo-node-0
  namespace: mongo-replica-set
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
      role: node-0
  template:
    metadata:
      name: mongo-node-0
      labels:
        app: mongo
        role: node-0
    spec:
      containers:
      - name: mongo-node-0
        image: mongo
        args: ['--config', '/mnt/etc/mongod.conf']
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: config-volume
          mountPath: /mnt/etc/
        - name: data-volume
          mountPath: /mnt/data/
        resources:
          requests:
            cpu: "100m"
            memory: "250Mi"
      volumes:
      - name: config-volume
        configMap:
          name: mongod-conf
      - name: data-volume
        emptyDir: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mongo-node-1
  namespace: mongo-replica-set
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
      role: node-1
  template:
    metadata:
      name: mongo-node-1
      labels:
        app: mongo
        role: node-1
    spec:
      containers:
      - name: mongo-node-1
        image: mongo
        args: ['--config', '/mnt/etc/mongod.conf']
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: config-volume
          mountPath: /mnt/etc/
        - name: data-volume
          mountPath: /mnt/data/
        resources:
          requests:
            cpu: "100m"
            memory: "250Mi"
      volumes:
      - name: config-volume
        configMap:
          name: mongod-conf
      - name: data-volume
        emptyDir: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mongo-node-2
  namespace: mongo-replica-set
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
      role: node-2
  template:
    metadata:
      name: mongo-node-2
      labels:
        app: mongo
        role: node-2
    spec:
      containers:
      - name: mongo-node-2
        image: mongo
        args: ['--config', '/mnt/etc/mongod.conf']
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: config-volume
          mountPath: /mnt/etc/
        - name: data-volume
          mountPath: /mnt/data/
        resources:
          requests:
            cpu: "100m"
            memory: "250Mi"
      volumes:
      - name: config-volume
        configMap:
          name: mongod-conf
      - name: data-volume
        emptyDir: {}
